<div class="menu-sticked">
    <header>
        <div class="container">
            <div class="row align-items-center">
                <div class="logo">
                    <a href="#home">
                        <img src="assets/images/logo-white.png" alt="logo">
                    </a>
                </div>

                <nav>
                    <div class="d-none d-lg-block">
                        <ul>
                            <li><a href="#work">Work</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#pricing">Pricing</a></li>
                            <li><a href="#news">News</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li class="d-none d-sm-block">
                                <div class="phone">
                                    <a class="btn btn-primary btn-sm " href="signup.html"><span>Sign Up</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Button trigger mobile-->
                    <button type="button" class="mobile-nav d-lg-none" data-toggle="modal" data-target="#menuModal">
                        <i class="fas fa-align-right"></i>
                    </button>
                    <!-- Button trigger mobile -->
                </nav>
            </div>
        </div>
    </header>
</div>