<div  class="body pattern-divisor-class">
    <app-header></app-header>
    <main>
        <!-- Home -->
        <section class="hero-home" id="home">
            <div class="container">
                <div class="row">
                    <div class="hero-home__container">
                        <div class="hero-home__container-centered d-flex justify-content-center">
                            <div class="text-center">
                                <h1 class="hero-home__title">We are <span
                                        class="hero-home__text-biger d-block text-uppercase">Studio</span></h1>
                                <hr class="light-color">
                                <p class="hero-home__description">Digital marketing strategies enhance revenue
                                    growth<br> expectancy
                                    nearly 3 times over.</p>
                                <a class="btn btn-primary btn-sm mt-4" data-toggle="modal" data-target=".ModalContact"
                                    role="button"><span>Talk with Us</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Home -->


        <!-- Works -->
        <section class="works" id="work">
            <div class="container">
                <!--title-->
                <div class="row">
                    <div class="col-lg-8">
                        <div class="title-section__dark">
                            <h2>Works.</h2>
                            <span class="title-section__background">WORKS</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae sem ac nunc
                                tincidunt
                                ullamcorper vitae sit amet tortor. Integer quam velit.</p>
                        </div>
                    </div>
                </div>
                <!--title-->

                <!--Divisor Line-->
                <div class="row">
                    <hr class="dark-color">
                </div>
                <!--Divisor Line-->


                <div class="row align-items-center pb-5">
                    <div class="follow-us__text">
                        <p>Do you want to see more? <a href="#">Follow Us:</a> </p>
                    </div>

                    <div class="follow-us__social-links text-md-right">
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>

            <!--Works Done-->
            <div class="works--done_">
                <div class="container">

                    <!--Version Desktop-->
                    <div class="d-none d-lg-block">
                        <div class="row">
                            <div class="col-md-3">
                                <!--Item-->
                                <figure class="works--done__item" data-toggle="modal" data-target=".ModalGallery">
                                    <!--To add popup-->
                                    <img src="assets/images/works/alt/adult-beautiful-bouquet.jpg" alt="">
                                    <figcaption class="works--done__item-description">
                                        <h3>Wedding</h3>
                                        <p>Photo by Dmitry Zvolskiy from Pexels</p>
                                    </figcaption>
                                </figure>
                                <!--Item-->
                            </div>

                            <div class="col-md-3">
                                <!--Item-->
                                <a href="single-work.html">
                                    <figure class="works--done__item">
                                        <img src="assets/images/works/alt/adorable-blonde-blur.jpg" alt="">
                                        <figcaption class="works--done__item-description">
                                            <!--In case you want to add hover link-->
                                            <div class="hover-link">
                                                <h3>Children Party</h3>
                                                <p>Photo Studio made in a Garden</p>
                                            </div>
                                            <div class="translate-text">
                                                <span>click to read more</span>
                                            </div>
                                            <!--In case you want to add hover link-->
                                        </figcaption>
                                    </figure>
                                </a>
                                <!--Item-->
                            </div>

                            <div class="col-md-3">
                                <!--Item-->
                                <figure class="works--done__item" data-toggle="modal" data-target=".ModalGallery">
                                    <!--To add popup-->
                                    <img src="assets/images/works/alt/art-balloons-birthday.jpg" alt="">
                                    <figcaption class="works--done__item-description">
                                        <h3>Ballons</h3>
                                        <p>Photo by PhotoMIX Ltd. from Pexels</p>
                                    </figcaption>
                                </figure>
                                <!--Item-->
                            </div>

                            <div class="col-md-3">
                                <!--Item-->
                                <a href="single-work.html">
                                    <figure class="works--done__item">
                                        <img src="assets/images/works/alt/brad-neathery-mGH253KbfaY.jpg" alt="">
                                        <figcaption class="works--done__item-description">
                                            <!--In case you want to add hover link-->
                                            <div class="hover-link">
                                                <h3>Working</h3>
                                                <p>Photo by Brad Neathery on Unsplash</p>
                                            </div>
                                            <div class="translate-text">
                                                <span>click to read more</span>
                                            </div>
                                            <!--In case you want to add hover link-->
                                        </figcaption>
                                    </figure>
                                </a>
                                <!--Item-->
                            </div>

                            <div class="col-md-3">
                                <!--Item-->
                                <figure class="works--done__item" data-toggle="modal" data-target=".ModalGallery">
                                    <!--To add popup-->
                                    <img src="assets/images/works/alt/adults-brainstorming-business.jpg" alt="">
                                    <figcaption class="works--done__item-description">
                                        <h3>Co-Working</h3>
                                        <p>Studio - inside Facilities</p>
                                    </figcaption>
                                </figure>
                                <!--Item-->
                            </div>

                            <div class="col-md-3">
                                <!--Item-->
                                <a href="single-work.html">
                                    <figure class="works--done__item">
                                        <img src="assets/images/works/alt/hal-gatewood-tZc3vjPCk-Q.jpg" alt="">
                                        <figcaption class="works--done__item-description">
                                            <!--In case you want to add hover link-->
                                            <div class="hover-link">
                                                <h3>Co-Working</h3>
                                                <p>Studio - inside Facilities</p>
                                            </div>
                                            <div class="translate-text">
                                                <span>click to read more</span>
                                            </div>
                                            <!--In case you want to add hover link-->
                                        </figcaption>
                                    </figure>
                                </a>
                                <!--Item-->
                            </div>

                            <div class="col-md-3">
                                <!--Item-->
                                <figure class="works--done__item" data-toggle="modal" data-target=".ModalGallery">
                                    <!--To add popup-->
                                    <img src="assets/images/works/alt/blooming-blossom-flora.jpg" alt="">
                                    <figcaption class="works--done__item-description">
                                        <h3>Landscape</h3>
                                        <p>Studio - to Activism Company</p>
                                    </figcaption>
                                </figure>
                                <!--Item-->
                            </div>

                            <div class="col-md-3">
                                <!--Item-->
                                <a href="single-work.html">
                                    <figure class="works--done__item">
                                        <img src="assets/images/works/alt/adorable-animal-cat.jpg" alt="">
                                        <figcaption class="works--done__item-description">
                                            <!--In case you want to add hover link-->
                                            <div class="hover-link">
                                                <h3>Sweetie</h3>
                                                <p>Studio - done to an adoption company</p>
                                            </div>
                                            <div class="translate-text">
                                                <span>click to read more</span>
                                            </div>
                                            <!--In case you want to add hover link-->
                                        </figcaption>
                                    </figure>
                                </a>
                                <!--Item-->
                            </div>
                        </div>
                    </div>
                    <!--Version Desktop-->

                    <!--Version Mobile (it works like a carousel)-->
                    <div class="works--done-carousel d-lg-none">
                        <!--Item-->
                        <figure class="works--done__item" data-toggle="modal" data-target=".ModalGallery">
                            <!--To add popup-->
                            <img src="assets/images/works/alt/adult-beautiful-bouquet.jpg" alt="">
                            <figcaption class="works--done__item-description">
                                <h3>Wedding</h3>
                                <p>Photo by Dmitry Zvolskiy from Pexels</p>
                            </figcaption>
                        </figure>
                        <!--Item-->

                        <!--Item-->
                        <a href="single-work.html">
                            <figure class="works--done__item">
                                <img src="assets/images/works/alt/adorable-blonde-blur.jpg" alt="">
                                <figcaption class="works--done__item-description">
                                    <!--In case you want to add hover link-->
                                    <div class="hover-link">
                                        <h3>Children Party</h3>
                                        <p>Studio made</p>
                                    </div>
                                    <div class="translate-text">
                                        <span>click to read more</span>
                                    </div>
                                    <!--In case you want to add hover link-->
                                </figcaption>
                            </figure>
                        </a>
                        <!--Item-->

                        <!--Item-->
                        <figure class="works--done__item" data-toggle="modal" data-target=".ModalGallery">
                            <!--To add popup-->
                            <img src="assets/images/works/alt/art-balloons-birthday.jpg" alt="">
                            <figcaption class="works--done__item-description">
                                <h3>Ballons</h3>
                                <p>Photo by PhotoMIX Ltd. from Pexels</p>
                            </figcaption>
                        </figure>
                        <!--Item-->

                        <!--Item-->
                        <a href="single-work.html">
                            <figure class="works--done__item">
                                <img src="assets/images/works/alt/brad-neathery-mGH253KbfaY.jpg" alt="">
                                <figcaption class="works--done__item-description">
                                    <!--In case you want to add hover link-->
                                    <div class="hover-link">
                                        <h3>Working</h3>
                                        <p>Photo by Brad Neathery on Unsplash</p>
                                    </div>
                                    <div class="translate-text">
                                        <span>click to read more</span>
                                    </div>
                                    <!--In case you want to add hover link-->
                                </figcaption>
                            </figure>
                        </a>
                        <!--Item-->

                        <!--Item-->
                        <figure class="works--done__item" data-toggle="modal" data-target=".ModalGallery">
                            <!--To add popup-->
                            <img src="assets/images/works/alt/adults-brainstorming-business.jpg" alt="">
                            <figcaption class="works--done__item-description">
                                <h3>Co-Working</h3>
                                <p>Studio - inside Facilities</p>
                            </figcaption>
                        </figure>
                        <!--Item-->
                    </div>
                    <!--Version Mobile-->

                </div>
            </div>
            <!--Works Done-->
        </section>
        <!-- Works -->

        <!-- Pricing -->
        <section class="works" id="pricing">
            <div class="container">
                <!--title-->
                <div class="row">
                    <div class="col-lg-8">
                        <div class="title-section__dark">
                            <h2>Our Plans</h2>
                            <span class="title-section__background">Plans</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae sem ac nunc
                                tincidunt
                                ullamcorper vitae sit amet tortor. Integer quam velit.</p>
                        </div>
                    </div>
                </div>
                <!--title-->
            </div>

            <div class="container pt-4">
                <div class="row mx-0">
                    <div class="col-lg-4 col-12">
                        <div class="price-table__item">
                            <div class="price-table__value">$ 2 000</div>
                            <h3 class="price-table__name">Basic plan</h3>
                            <ul class="price-table__feature-list">
                                <li class="price-table__feature-item">Full course theory</li>
                                <li class="price-table__feature-item">Full driving course</li>
                                <li class="price-table__feature-item">Spending on gasoline</li>
                                <li class="price-table__feature-item">Training in first aid</li>
                                <li class="price-table__feature-item">Practical sessions</li>
                                <li class="price-table__feature-item">SMS reminders</li>
                                <li class="price-table__feature-item">Psychological support</li>
                            </ul>
                            <a class="btn price-table__btn popup-bestsellers-btn" href="">
                                <span class="btn__text">send request</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="price-table__item price-table__item_best">
                            <div class="price-table__best">
                                <i class="fa fa-star"></i>
                                bestsellers
                                <i class="fa fa-star"></i>

                            </div>
                            <div class="price-table__value">$ 3 000</div>
                            <h3 class="price-table__name">All included</h3>
                            <ul class="price-table__feature-list">
                                <li class="price-table__feature-item">Full course theory</li>
                                <li class="price-table__feature-item">Full driving course</li>
                                <li class="price-table__feature-item">Spending on gasoline</li>
                                <li class="price-table__feature-item">Training in first aid</li>
                                <li class="price-table__feature-item">Practical sessions</li>
                                <li class="price-table__feature-item">SMS reminders</li>
                                <li class="price-table__feature-item">Psychological support</li>
                            </ul>
                            <a class="btn price-table__btn popup-bestsellers-btn" href="">
                                <span class="btn__text">send request</span>
                            </a>
                            <div class="price-table__stars">
                                <svg class="price-table__star">
                                    <use xlink:href="assets/images/icon.svg#icon_star"></use>
                                </svg>
                                <svg class="price-table__star">
                                    <use xlink:href="assets/images/icon.svg#icon_star"></use>
                                </svg>
                                <svg class="price-table__star">
                                    <use xlink:href="assets/images/icon.svg#icon_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="price-table__item">
                            <div class="price-table__value">$ 4 000
                                <span class="price-table__discount">-15%</span>
                            </div>
                            <h3 class="price-table__name">Pro plan</h3>
                            <ul class="price-table__feature-list">
                                <li class="price-table__feature-item">Full course theory</li>
                                <li class="price-table__feature-item">Full driving course</li>
                                <li class="price-table__feature-item">Spending on gasoline</li>
                                <li class="price-table__feature-item">Training in first aid</li>
                                <li class="price-table__feature-item">Practical sessions</li>
                                <li class="price-table__feature-item">SMS reminders</li>
                                <li class="price-table__feature-item">Psychological support</li>
                            </ul>
                            <a class="btn price-table__btn popup-bestsellers-btn" href="">
                                <span class="btn__text">send request</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing -->

        <!-- Services -->
        <section class="service" id="services">
            <div class="service--container">
                <div class="container">
                    <!--title-->
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="title-section__light">
                                <h2>Services.</h2>
                                <span class="title-section__background">Services</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae sem ac nunc
                                    tincidunt
                                    ullamcorper vitae sit amet tortor. Integer quam velit.</p>
                            </div>
                        </div>
                    </div>
                    <!--title-->
                </div>
            </div>
        </section>
        <!-- Services -->

        <!-- Services Carousel -->
        <section class="services-description">
            <div class="container">
                <!--Carousel for-->
                <div class="services-description__screen">

                    <div class="slider-for-services">
                        <div><img src="assets/images/services/adult-blur-camera.jpg" alt=""></div>
                        <div><img src="assets/images/services/adult-blur-camera.jpg" alt=""></div>
                        <div><img src="assets/images/services/adult-blur-camera.jpg" alt=""></div>
                        <div><img src="assets/images/services/adult-blur-camera.jpg" alt=""></div>
                        <!-- <div><iframe src="https://www.youtube.com/embed/SBP6Y7iDe3o"></iframe></div> -->
                        <!-- <div><img  src="assets/images/services/art-dark-ethnic.jpg" alt=""></div> -->
                        <!-- <div><img  src="assets/images/services/art-dark-ethnic.jpg" alt=""></div> -->
                        <!-- <div><img  src="assets/images/services/art-dark-ethnic.jpg" alt=""></div> -->
                        <!-- <div><img  src="assets/images/services/art-dark-ethnic.jpg" alt=""></div> -->
                        <!-- <div><iframe src="https://www.youtube.com/embed/SBP6Y7iDe3o"></iframe></div> -->
                    </div>

                </div>
                <!--Carousel for-->
            </div>


            <div class="container">
                <div class="services-description__list">
                    <!--Carousel thumbs-->
                    <div class="slider-nav-services">
                        <div>
                            <i class="fas fa-adjust"></i>
                            <h4 class="services-description__title">Design</h4>
                            <p class="services-description__">Quickly turn ideas into powerful screen designs with
                                intuitive
                                vector-based drawing and flexible layers.</p>
                        </div>

                        <div>
                            <i class="fas fa-anchor"></i>
                            <h4 class="services-description__title">Mobile Ready</h4>
                            <p class="services-description__">Effortlessly animate transitions and add
                                micro-interactions to transform
                                your static screens into working prototypes.</p>
                        </div>

                        <div>
                            <i class="fas fa-brain"></i>
                            <h4 class="services-description__title">Photography</h4>
                            <p class="services-description__">Seamlessly navigate the entire design process in one
                                place, keeping
                                everyone fully engaged and notified of changes.</p>
                        </div>

                        <div>
                            <i class="fas fa-bug"></i>
                            <h4 class="services-description__title">Support</h4>
                            <p class="services-description__">Seamlessly navigate the entire design process in one
                                place, keeping
                                everyone fully engaged and notified of changes.</p>
                        </div>
                    </div>
                    <!--Carousel thumbs-->
                </div>
            </div>
        </section>
        <!-- Services Carousel -->

        <!-- About -->
        <section class="about" id="about">
            <div class="about--container">
                <div class="container">
                    <!--title-->
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="title-section__light">
                                <h2>About.</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae sem ac nunc
                                    tincidunt
                                    ullamcorper vitae sit amet tortor. Integer quam velit.</p>
                            </div>
                        </div>
                    </div>
                    <!--title-->

                    <!--Divisor Line-->
                    <div class="row">
                        <hr class="light-color">
                    </div>
                    <!--Divisor Line-->

                    <!--Team-->
                    <div class="team">
                        <div class="row">

                            <!--Team Member-->
                            <div class="team__member text-center">
                                <img class="team__avatar" src="assets/images/team/tran-mau-tri-tam-unsplash.jpg"
                                    alt="team member pic">
                                <h3 class="team__name mt-3">Jeniffer Martinez</h3>
                                <p class="team__ocupation">Digital Development</p>

                                <div class="follow-us__social-links">
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <!--Team Member-->

                            <!--Team Member-->
                            <div class="team__member text-center">
                                <img class="team__avatar" src="assets/images/team/miguelangel-miquelena-unsplash.jpg"
                                    alt="team member pic">
                                <h3 class="team__name mt-3">Juan David Rendon</h3>
                                <p class="team__ocupation">Digital Development</p>

                                <div class="follow-us__social-links">
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <!--Team Member-->
                        </div>
                    </div>
                    <!--Team-->

                    <!--Divisor Line-->
                    <div class="row">
                        <hr class="light-color">
                    </div>

                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-9">
                            <div class="testimonials">
                                <!--<i class="fas fa-comment-dots"></i> ADD ICON AS BG (OPTIONAL)-->
                                <div id="testimonials">

                                    <div class="testimonials__content">
                                        <blockquote class="blockquote mb-0">
                                            <p>I edit the theme , after 2 hours working on it i have ranked A 94% as
                                                pagespeed and B 84% as
                                                YSlow on gtmetrix.com... GREAT CODING between all the theme i ever use.
                                            </p>
                                            <div class="blockquote-footer">Anonymous <cite title="Source Title"><a
                                                        href="https://themeforest.net/item/hosting-technology-software-and-whmcs-wordpress-theme-megahost/5021665?ref=iwthemes"
                                                        target="_blank">Hosting WordPress theme with WHMCS -
                                                        MegaHost</a></cite></div>
                                        </blockquote>
                                    </div>

                                    <div class="testimonials__content">
                                        <blockquote class="blockquote mb-0">
                                            <p>Support is amazing. I had a problem and support fixed it immediately. If
                                                this is a concern for
                                                you when purchasing a template look no further. I can't thank them
                                                enough.</p>
                                            <div class="blockquote-footer">Anonymous <cite title="Source Title"><a
                                                        href="https://themeforest.net/item/studiomultipurpose-videoparallaxslider-bg-theme/6981121?ref=iwthemes"
                                                        target="_blank">Studio - Html</a></cite></div>
                                        </blockquote>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- About -->

        <!-- Contact -->
        <section class="contact" id="contact">

            <div class="container">
                <div class="sponsors d-none d-md-block">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <img src="assets/images/sponsors/codecanyon.png" alt="" class="mr-3">
                        </div>

                        <div class="col-6 col-md-3">
                            <img src="assets/images/sponsors/graphicriver.png" alt="" class="mr-3">
                        </div>

                        <div class="col-6 col-md-3">
                            <img src="assets/images/sponsors/photodune.png" alt="" class="mr-3">
                        </div>

                        <div class="col-6 col-md-3">
                            <img src="assets/images/sponsors/themeforest.png" alt="" class="mr-3">
                        </div>
                    </div>
                </div>

                <div class="sponsor-carousel text-center d-md-none">
                    <div><img src="assets/images/sponsors/themeforest.png" alt=""></div>
                    <div><img src="assets/images/sponsors/graphicriver.png" alt=""></div>
                    <div><img src="assets/images/sponsors/photodune.png" alt=""></div>
                    <div><img src="assets/images/sponsors/codecanyon.png" alt=""></div>
                </div>

                <!--title-->
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                        <div class="title-section__dark text-center">
                            <h2>Contact!</h2>
                        </div>
                    </div>
                </div>
                <!--title-->

                <!--Divisor Line-->
                <div class="row">
                    <hr class="dark-color">
                </div>
                <!--Divisor Line-->

                <div class="row justify-content-center">
                    <div class="contact__description">
                        <p>We’re always looking for new projects to work on, <br>if you have some please write us!</p>

                        <span class="contact__mail d-block my-4"><a data-toggle="modal" data-target=".ModalContact"
                                role="button">support@iwthemes.com</a></span>
                    </div>
                </div>

                <!--Divisor Line-->
                <div class="row">
                    <hr class="dark-color">
                </div>
                <!--Divisor Line-->


                <div class="row">
                    <!--Phone-->
                    <div class="contact__phone">
                        <i class="far fa-comment-alt"></i>
                        <a href="tel:0000000" class="d-block mt-3">(+57)-1234-444-00</a>
                    </div>
                    <!--Phone-->

                    <!--Location-->
                    <div class="contact__location">
                        <i class="fas fa-map-marker-alt"></i>
                        <address>
                            <span class="d-block mt-4">We're at Indonesia!</span>
                        </address>
                    </div>
                    <!--Location-->
                </div>
            </div>
        </section>
        <!-- Contact -->

        <!--Content Instagram-->
        <div class="content-instagram">
            <div class="btn-instagram">
                <a href="https://www.instagram.com/jekamabu/" target="_blank"><i class="fab fa-instagram"></i>
                    &#64;jekamabu</a>
            </div>
            <div class="container-fluid">
                <div id="instafeed"></div>
            </div>
        </div>
        <!--/Content Instagram-->

        <!-- Footer -->
        <footer>
            <!--Blog Categories-->
            <div class="container">
                <div class="row align-items-end" id="news">
                    <div class="col-md-7">
                        <div class="title-section__light small-size">
                            <h2>Studio in the News.</h2>
                            <span class="title-section__background">News</span>
                        </div>
                    </div>

                    <!--BTN-->
                    <div class="col-md-5 text-right">
                        <a class="btn btn-primary btn-sm simple-animation" href="blog.html" role="button"><span>See
                                BLog</span></a>
                    </div>
                    <!--BTN-->
                </div>

                <div class="row mt-5 latest-post">
                    <!--Post Item-->
                    <div class="latest-post-item">
                        <a href="blog.html">
                            <img src="assets/images/blog/jfl-GfmIT_pseDQ.jpg" alt="" class="w-100">
                            <h5 class="latest-post__title">Trends</h5>
                            <p>Explore the usage of metallics in design and discover the ground rules for navigating the
                                trend.</p>
                        </a>
                    </div>
                    <!--Post Item-->

                    <!--Post Item-->
                    <div class="latest-post-item">
                        <a href="blog.html">
                            <img src="assets/images/blog/sam-mcghee-4siwRamtFAk.jpg" alt="" class="w-100">
                            <h5 class="latest-post__title">Interviews</h5>
                            <p>Our new course offers over an hour of great tips on professional voice recording.</p>
                        </a>
                    </div>
                    <!--Post Item-->

                    <!--Post Item-->
                    <div class="latest-post-item">
                        <a href="blog.html">
                            <img src="assets/images/blog/austin-distel-rxpThOwuVgE.jpg" alt="" class="w-100">
                            <h5 class="latest-post__title">General</h5>
                            <p>There’s no typical start time for a ‘normal’ day working for the staff of Envato.</p>
                        </a>
                    </div>
                    <!--Post Item-->

                    <!--Post Item-->
                    <div class="latest-post-item">
                        <a href="blog.html">
                            <img src="assets/images/blog/matt-botsford-OKLqGsCT8qs.jpg" alt="" class="w-100">
                            <h5 class="latest-post__title">Tools</h5>
                            <p>Breaking down one of the biggest video trends of the year.</p>
                        </a>
                    </div>
                </div>
                <!--Post Item-->
            </div>
            <!--Blog Categories-->

            <!--Divisor Line-->
            <div class="row">
                <hr class="light-color">
            </div>
            <!--Divisor Line-->

            <div class="footer-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2 text-center">
                            <img src="assets/images/logo.png" alt="logo" class="logo">
                        </div>

                        <div class="col-4 col-sm-2">
                            <h4 class="footer__title-link">Contact</h4>
                            <ul class="p-0 m-0 footer-links">
                                <li><a href="#" title="Footer Links">Send us a Message</a></li>
                            </ul>
                        </div>

                        <div class="col-4 col-sm-2">
                            <h4 class="footer__title-link">Studio</h4>
                            <ul class="p-0 m-0 footer-links">
                                <li><a href="#" title="Footer Links">Gallery</a></li>
                                <li><a href="#" title="Footer Links">latest Release</a></li>
                                <li><a href="#" title="Footer Links">Updates</a></li>
                                <li><a href="#" title="Footer Links">API</a></li>
                            </ul>
                        </div>

                        <div class="col-4 col-sm-2">
                            <h4 class="footer__title-link">Company</h4>
                            <ul class="p-0 m-0 footer-links">
                                <li><a href="#" title="Footer Links">About Us</a></li>
                                <li><a href="#" title="Footer Links">Startups</a></li>
                                <li><a href="#" title="Footer Links">Jobs</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-sm-2">
                            <h4 class="footer__title-link">About</h4>
                            <ul class="p-0 m-0 footer-links">
                                <li><a href="#" title="Footer Links">Blog</a></li>
                                <li><a href="#" title="Footer Links">@iwthemes</a></li>
                                <li><a href="#" title="Footer Links">Team</a></li>
                                <li><a href="#" title="Footer Links">Services</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-sm-2">
                            <h4 class="footer__title-link mb-4">Follow Us</h4>
                            <ul class="p-0 m-0 footer-links">
                                <li><a href="#" title="Footer Links" target="_blank">Youtube</a></li>
                                <li><a href="#" title="Footer Links" target="_blank">Instagram</a></li>
                                <li><a href="#" title="Footer Links" target="_blank">Facebook</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer -->
    </main>
</div>