<div class="body">
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="w-100 d-flex justify-content-center">
                        <img src="./assets/images/logo.png" class="form-logo" alt="">
                    </div>
                    <h2  style="font-size: 45px; font-weight: 900;" class="form-title mb-2">Thank You !</h2>
                    <div class="w-100 text-center mb-4">
                            Please check your email for further instructions on how complete your account setup.
                    </div>
                    <div class="">
                        <a href="index.html" class="form-submit">Back To Home</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>